@font-face {
  font-family: 'GothamPro';
  src: local('GothamPro'),
  url('../fonts/GothamPro-Light.ttf') format('truetype'),
  url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

/* Regular */

@font-face {
  font-family: 'GothamPro';
  src: local('GothamPro'),
  url('../fonts/GothamPro-Regular.ttf') format('truetype'),
  url('../fonts/GothamPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Medium */

@font-face {
  font-family: 'GothamPro';
  src: local('GothamPro'),
  url('../fonts/GothamPro-Medium.ttf') format('truetype'),
  url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* Bold */

@font-face {
  font-family: 'GothamPro';
  src: local('GothamPro'),
  url('../fonts/GothamPro-Bold.ttf') format('truetype'),
  url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Black */

@font-face {
  font-family: 'GothamPro';
  src: local('GothamPro'),
  url('../fonts/GothamPro-Black.ttf') format('truetype'),
  url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

/* LightItalic */

@font-face {
  font-family: 'GothamPro';
  src: local('GothamPro'),
  url('../fonts/GothamPro-LightItalic.ttf') format('truetype'),
  url('../fonts/GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-LightItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

/* Italic */

@font-face {
  font-family: 'GothamPro';
  src: local('GothamPro'),
  url('../fonts/GothamPro-Italic.ttf') format('truetype'),
  url('../fonts/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

/* MediumItalic */

@font-face {
  font-family: 'GothamPro';
  src: local('GothamPro'),
  url('../fonts/GothamPro-MediumItalic.ttf') format('truetype'),
  url('../fonts/GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

/* BoldItalic */

@font-face {
  font-family: 'GothamPro';
  src: local('GothamPro'),
  url('../fonts/GothamPro-BoldItalic.ttf') format('truetype'),
  url('../fonts/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

/* BlackItalic */

@font-face {
  font-family: 'GothamPro';
  src: local('GothamPro'),
  url('../fonts/GothamPro-BlackItalic.ttf') format('truetype'),
  url('../fonts/GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}